<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjie.cryptocurrency.quant.mapper.CurrencyBalanceMapper">
  <resultMap id="BaseResultMap" type="com.cjie.cryptocurrency.quant.model.CurrencyBalance">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="site" jdbcType="VARCHAR" property="site" />
    <result column="available" jdbcType="DECIMAL" property="available" />
    <result column="hold" jdbcType="DECIMAL" property="hold" />
  </resultMap>
  <sql id="Base_Column_List">
    id, currency, balance, create_time, modify_time, site, available, hold
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from currency_balance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getByCurrency" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from currency_balance
    where currency = #{currency,jdbcType=VARCHAR}
    and site = #{site,jdbcType=VARCHAR}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from currency_balance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cjie.cryptocurrency.quant.model.CurrencyBalance">
    insert into currency_balance (id, currency, balance, 
      create_time, modify_time, site, 
      available, hold)
    values (#{id,jdbcType=BIGINT}, #{currency,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{site,jdbcType=VARCHAR}, 
      #{available,jdbcType=DECIMAL}, #{hold,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.cjie.cryptocurrency.quant.model.CurrencyBalance">
    insert into currency_balance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="site != null">
        site,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="hold != null">
        hold,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=DECIMAL},
      </if>
      <if test="hold != null">
        #{hold,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjie.cryptocurrency.quant.model.CurrencyBalance">
    update currency_balance
    <set>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="site != null">
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=DECIMAL},
      </if>
      <if test="hold != null">
        hold = #{hold,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjie.cryptocurrency.quant.model.CurrencyBalance">
    update currency_balance
    set currency = #{currency,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      site = #{site,jdbcType=VARCHAR},
      available = #{available,jdbcType=DECIMAL},
      hold = #{hold,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <cache />
</mapper>